<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <link rel="stylesheet" type="text/css" href="/static/js/layui/css/layui.css">
    <script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/layui/layui.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/xadmin.js" type="text/javascript" charset="utf-8"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body class="form-wrap">
<blockquote class="layui-elem-quote layui-quote-nm"style="margin-top: 50px;">
    <textarea id="demo" style="display: none;"></textarea>
    <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;">
        <legend></legend>
        <div>
            <button type="button" class="layui-btn layui-btn-normal">添加信息</button>
        </div>
    </fieldset>
    <fieldset class="layui-elem-field site-demo-button">
</blockquote>


</div>
<script>
    layui.use('layedit', function(){
        var layedit = layui.layedit;
        layedit.build('demo'); //建立编辑器
    });
</script>
</body>
</html>