<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/static/css/xadmin.css">
  <link rel="stylesheet" type="text/css" href="/static/js/layui/css/layui.css">
  <script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static/js/layui/layui.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static/js/xadmin.js" type="text/javascript" charset="utf-8"></script>
  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<style>
  .layui-carousel{
    margin: 0 25%;
  }
</style>
<body class="form-wrap">
<blockquote class="layui-elem-quote layui-quote-nm">
  <button type="button" class="layui-btn layui-btn-primary" onclick="x_admin_show('添加轮播图','/addBanner')"> 添加轮播图</button>

  <div class="layui-carousel" id="test1">
    <div carousel-item>
      <div><img src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1564648733&di=692e6b5b5563139a105b4d9d16f40791&src=http://img.mp.itc.cn/upload/20170816/ede70cf3a497447fa423391b154fe7b0_th.jpg" alt=""></div>
      <div><img src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1564648733&di=692e6b5b5563139a105b4d9d16f40791&src=http://img.mp.itc.cn/upload/20170816/ede70cf3a497447fa423391b154fe7b0_th.jpg" alt=""></div>
      <div><img src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1564648733&di=692e6b5b5563139a105b4d9d16f40791&src=http://img.mp.itc.cn/upload/20170816/ede70cf3a497447fa423391b154fe7b0_th.jpg" alt=""></div>
      <div><img src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1564648733&di=692e6b5b5563139a105b4d9d16f40791&src=http://img.mp.itc.cn/upload/20170816/ede70cf3a497447fa423391b154fe7b0_th.jpg" alt=""></div>
      <div><img src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1564648733&di=692e6b5b5563139a105b4d9d16f40791&src=http://img.mp.itc.cn/upload/20170816/ede70cf3a497447fa423391b154fe7b0_th.jpg" alt=""></div>
    </div>
  </div>
  <div class="layui-form">
    <table class="layui-table">
      <colgroup>
        <col width="150">
        <col width="150">
        <col width="200">
        <col>
      </colgroup>
      <thead>
      <tr>
        <th>ID</th>
        <th>URL</th>
        <th>图片预览</th>
        <th>状态</th>
        <th>跳转形式</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>汉族</td>
        <td>1989-10-14</td>
        <td>人生似修行</td>
        <td>人生似修行</td>
        <td>人生似修行</td>
      </tr>
      </tbody>
    </table>
  </div>
</blockquote>



</div>
<script>
  layui.use('carousel', function(){
    var carousel = layui.carousel;
    //建造实例
    carousel.render({
      elem: '#test1'
      ,width: '50%' //设置容器宽度
      ,arrow: 'always' //始终显示箭头
      //,anim: 'updown' //切换动画方式
    });
  });
</script>

</body>
</html>